
html {
  scroll-behavior: smooth;
  min-height: 100dvh;
  font-size: 16px;
  overflow-x: hidden!important;
}

body {
  overflow-x: hidden!important;
  background-color: $white;
  color: $black;
  font-size: 16px;
  letter-spacing: 0.02em;
  &::selection {
    background-color: $dark-green;
    color: $white;
  }
}

img {
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  width: max-content
}

span.vertical-line {
  width: 3px;
  height: auto;
  display: block;
  background-color: $white;
}
p, input, button {
  margin: 0;
  padding: 0;
}