
.footer {
  background-color: $blue;
  margin-top: auto;
  p, a {
    color: $white;
    text-wrap: nowrap;
  }
  i {
    color: $white;
  }
  .footer__logo {
    @media only screen and (max-width: 600px) {
      margin: 0 auto;
    }
    img {
      max-width: 181px;
    }
  }
  .icon__circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $blue-30;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }
  &-top {
    padding: 1.5rem 0;
    justify-content: space-between;
    row-gap: 2.5rem;
  }
  &-social__list {
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 1000px) {
      justify-content: space-evenly;
    }
    .icon__circle {
      margin-right: 0;
    }
  }
  .footer-search {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    @media only screen and (max-width: 1000px) {
      justify-content: center;
    }
  }
  input.input-search {
    height: 45px;
    max-width: 210px;
    margin: 0;
    border: 0;
    @media only screen and (max-width: 6000px) {
      max-width: 80%;
    }
  }
  .btn-search {
    width: 45px;
    height: 45px;
    border-radius: 0 $global-radius $global-radius 0;
    background-color: $blue-30;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  &-contact__list {
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 1000px) {
      flex-direction: column;
    }
    .vertical-line {
      background-color: $blue-30;
      height: 50px;
      @media only screen and (max-width: 1000px) {
        display: none;
      }
    }
    .contact__item {
      align-items: center;
      flex-wrap: nowrap;
      transition: all 0.3s ease;
      &:hover {
        a {
          color: $light-gray;
        }
      }
    }
  }
  .social__item {
    .icon__circle {
      transition: all 0.3s ease;
      &:hover {
        background-color: $light-gray;
        i {
          color: #245073;
        }
      }
    }
  }

  &-bottom {
    padding: 0.6rem;
    gap: 1rem;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: $dark-blue;
    @media only screen and (max-width: 400px) {
      flex-direction: column;
      align-items: center;
      padding: 0.9rem;
      gap: 0.5rem;
      span {
        display: none;
      }
    }
  }
}
