
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 1px solid $medium-gray;
}
.sticky-header {
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 1000;
  transition: all .3s ease;
  border-bottom: 1px solid $medium-gray;

  &.is-stuck {
    background: $blue;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);

    .header-logo img {
      max-height: 42px;
    }

    .main-menu > li > a {
      padding: 1rem 1.2rem;
    }
  }
}

.top-bar {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  @media only screen and (max-width: 1000px) {
    padding: 0.5rem;
  }
  &-right {
    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }
  .top-bar-left {
    max-width: min-content;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 10px;
  .vertical-line {
    background-color: $medium-gray;
    height: 52px;
    width: 3px;
  }
  .subheader {
    margin: 0;
  }
  span {
    font-size: 1.4rem;
    text-transform: uppercase;
    @media only screen and (max-width: 1000px) {
      font-size: 1.1rem;
    }
    @media only screen and (max-width: 500px) {
      font-size: 0.9rem;
    }
  }
  img {
    max-height: 51px;
    max-width: 210px;
    transition: .3s ease;
  }
}

/* Top links */
.top-links {
  padding: 1rem;
  li {
    a {
      font-size: 1rem;
      font-weight: 400;
      color: $blue-30;
      margin-right: 1.5rem;
    }
    &:hover {
      a {
        color: $dark-blue;
      }
    }
  }
}

/* Main desktop menu */
.menu.main-menu {
  background-color: transparent;
  li {
    border-right: 1px solid $light-gray;
    position: relative;
    .submenu {
      opacity: 0;
      transition: all .3s ease;
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin: 0;
    }
    &:hover {
      .submenu {
        visibility: visible;
        opacity: 1;
        li {
          width: 100%;
          border: none;
          border-bottom: 1px solid $light-gray;
          a {
            color: $medium-gray;
            transition: all .3s ease;
          }
          &:hover {
            a {
              color: $blue;
            }
          }
        }
      }
    }
    &:last-child {
      border-right: none;
    }
  }
}

.main-menu {
  margin-top: 1rem;
  background-color: transparent;
  li {
    a {
      padding: 1rem 1.5rem;
      font-size: 1rem;
      font-weight: 700;
      color: $medium-gray;
      transition: .25s;
    }
    &:hover {
      a {
        color: $blue-30;
      }
    }
  }
}

.desktop-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  i {
    display: none;
  }
}

/* Mobile burger */
.mobile-burger {
  .menu-icon {
    background: none;
    border: none;
    color: $medium-gray;
    font-size: 1.5rem;
    &::after{
      background: $medium-gray;
    }
    &::before {
      background: $medium-gray;
    }
  }
}

/* Mobile menu panel */
.header__hamburger {
  display: none;

  @media only screen and (max-width: 1000px) {
    display: flex;
    position: relative;
    padding: 11px;
    z-index: 901;
  }

  &-icon {
    position: relative;
    width: 33px;
    height: 25px;
    cursor: pointer;
    z-index: 900;

    span {
      padding: 0;
      position: absolute;
      height: 7px;
      width: 100%;
      display: block;
      background-color: $blue;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 10px;
      }

      &:nth-child(3) {
        top: 20px;
      }
    }

    &.close {
      span {
        &:nth-child(1) {
          top: 8px;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0;
          left: -30px;
          transition: 0.16s ease-in-out;
        }

        &:nth-child(3) {
          top: 8px;
          transform: rotate(-135deg);
        }
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 70px;
  right: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  background: $white;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1),visibility 0s linear 0.6s;
  z-index: 2000;
  overflow-y: scroll;
  .menu {
    i {
      margin-right: 20px;
    }
    li {
      position: relative;
      a {
        color: $medium-gray;
        padding: 1.5rem 2rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      &:has(> ul) a {
        color: $green;
        .submenu li a {
          color: $medium-gray;
        }
      }
      &:nth-child(odd) {
        background-color: $light-gray;
      }
      > ul.submenu {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        margin-left: 1rem;
        li {
          width: 100%;
          a {
            color: $medium-gray;
          }
        }
      }
    }
  }
  .menu.mobile-extra {
    li {
      background-color: transparent;
      a {
        color: $medium-gray;
        padding: 1.5rem 2rem;
        font-weight: 700;
        text-transform: none;
      }
    }
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}
