<!-- begin block -->
<footer class="footer">

  <div class="grid-container">
    <div class="grid-x grid-margin-x align-middle footer-top">
      
      <div class="cell small-4 medium-4 large-2 footer__logo">
        <img src="/assets/img/footer_logo.svg" alt="logo">
      </div>

      <div class="cell small-12 medium-8 large-3 footer-search">
        <input class="input-search" type="text" placeholder="Search..." />
        <button class="button btn-search"><i class="fa fa-search fa-lg"></i></button>
      </div>

      <div class="cell small-12 medium-8 large-4 footer-contact__list">
        <div class="grid-x contact__item">
          <span class="icon__circle"><i class="fa-regular fa-envelope"></i></span>
          <a href="mailto:info@domain.com">info@domain.com</a>
        </div>
        <span class="vertical-line"></span>
        <div class="grid-x contact__item">
          <span class="icon__circle"><i class="fa fa-phone" aria-hidden="true"></i></span>
          <a href="tel:0960000000" class="">+38 096 000 00 00</a>
        </div>
      </div>

      <div class="cell small-12 medium-4 large-2 footer-social__list">
        <div class="grid-x social__item">
          <span class="icon__circle">
            <a href="#">
              <i class="fa-brands fa-youtube fa-lg"></i>
            </a>
          </span>
        </div>
        <div class="grid-x social__item">
          <span class="icon__circle">
            <a href="#">
              <i class="fa-brands fa-facebook-f fa-lg"></i>
            </a>
          </span>
        </div>
        <div class="grid-x social__item">
          <span class="icon__circle">
            <a href="#">
              <i class="fa-brands fa-twitter fa-lg"></i>
            </a>
          </span>
        </div>
      </div>

    </div>
  </div>

  <div class="grid-x footer-bottom">
    <p>©2017 Lorem ipsum Solutions</p>
    <span class="vertical-line"></span>
    <p>Website Design by Lorem ipsum</p>
  </div>

</footer>
<!-- end block -->