<!-- begin block -->
 <header class="site-header sticky-header" data-sticky data-margin-top="0">
  <div class="top-bar">

    <div class="top-bar-left">
      <a href="/" class="header-logo">
        <img src="/assets/img/header_logo.svg" alt="logo" alt="Logo">
        <span class="vertical-line"></span>
          <p class="grid-y subheader"><span>Lorem</span><span>ipsum</span></p>
      </a>
    </div>

    <div class="top-bar-right show-for-large">
      <nav class="desktop-nav">
        <ul class="menu simple top-links">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Experts Blog</a></li>
        </ul>

        <ul class="menu main-menu">
          <li><a href="#">Why VES</a></li>
          <li><a href="#">Industries</a></li>
          <li><a href="#">Results</a></li>
          <li><a href="#">Catalog</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </div>

    <!-- Mobile burger -->
    <div class="mobile-burger hide-for-large">
      <button class="button menu-icon" type="button" data-toggle="offCanvasNav"></button>
    </div>

  </div>

  <!-- Mobile off-canvas -->
  <div class="off-canvas-wrapper">
    <div class="off-canvas position-right" id="offCanvasNav" data-off-canvas>
      <div class="mobile-nav">

        <div class="mobile-logo">
          <img src="/assets/img/header_logo.svg" alt="logo">
        </div>

        <ul class="vertical menu">
          <li><a href="#">Why VES</a></li>
          <li><a href="#">Industries</a></li>
          <li><a href="#">Results</a></li>
          <li><a href="#">Catalog</a></li>
          <li><a href="#">About</a></li>
        </ul>

        <ul class="vertical menu mobile-extra">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Experts Blog</a></li>
        </ul>

      </div>
    </div>
  </div>

</header>
<!-- <header class="header grid-container">
    <nav class="topbar-responsive grid-x align-middle">
      <div class="top-bar-title cell auto">
        <span data-responsive-toggle="topbar-responsive" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
        <a class="header__logo topbar-responsive-logo grid-x align-middle grid-margin-x" href="#">
          <img src="/assets/img/header_logo.svg" alt="logo" class="header__logo-img" />
          <span class="header__line"></span>
          <p class="grid-y subheader"><span>Lorem</span><span>ipsum</span></p>
        </a>
      </div>
      <div id="topbar-responsive" class="topbar-responsive-links grid-y cell auto align-justify top-bar-right">
        <ul class="menu simple vertical medium-horizontal align-right large-4 grid-padding-y menu-top">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Experts Blog</a></li>
        </ul>
        <ul class="menu simple vertical medium-horizontal align-right large-2" data-responsive-menu="accordion medium-dropdown">
          <li>
            <a href="#">Why VES</a>
          </li>
          <li>
            <a href="#">Industries</a>
            <ul class="vertical menu">
              <li>
                <a href="#">Item 1A</a>
              </li>
              <li><a href="#">Item 1B</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Results</a>
          </li>
          <li>
            <a href="#">Catalog</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </div>
    </nav>
</header> -->

<!-- end block -->