<!-- begin block -->
<header class="site-header">
  <div class="grid-container top-bar">

    <div class="top-bar-left">
      <a href="/" class="header-logo">
        <img src="/assets/img/header_logo.svg" alt="logo">
        <span class="vertical-line"></span>
          <p class="grid-y subheader">
            <span>Lorem</span>
            <span>ipsum</span>
          </p>
      </a>
    </div>

    <div class="top-bar-right">
      <nav class="desktop-nav">
        <ul class="menu simple top-links">
          <li>
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Experts Blog</a>
          </li>
        </ul>

        <ul class="menu main-menu">
          <li>
            <a href="#">Why VES</a>
          </li>
          <li>
            <a href="#">Industries</a>
            <ul class="submenu">
              <li>
                <a href="#">Diary</a>
              </li>
              <li>
                <a href="#">Beef</a>
              </li>
              <li>
                <a href="#">Poultry</a>
              </li>
              <li>
                <a href="#">Swine</a>
              </li>
              <li>
                <a href="#">Industrial</a>
              </li>
              <li>
                <a href="#">Greenhouse</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Results</a>
          </li>
          <li>
            <a href="#">Catalog</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- Mobile burger -->
    <div class="header__hamburger">
      <div data-hamburger class="header__hamburger-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

  </div>

</header>
<!-- end block -->