<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-..."
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
<body>
  <div class="main-cover" style="background-image: url('/assets/img/curves_hero.svg');"></div>
  {{> mob-menu}}

  {{> header}}

  {{> body}}

  {{> footer}}
  <script src="{{root}}assets/js/app.js"></script>
</body>
</html>
